<h1 class="display-4"> Create a new Post</h1>
<form action="create" method="post">
    <label for=" labelFor">Post Title</label>
    <input type="text" name="title" id=" title" class="form-control">
    
    <label for=" labelFor">Post Author</label>
    <input type="text" name="author" id=" author" class="form-control">
    
    <label for=" labelFor">Post Content</label>
    <textarea  name="body" id=" body" class="form-control"></textarea>
    <input type="submit" class="btn btn-success btn-sm" value="Create Post" />
    
    <!-- <label for=" labelFor">labelText</label> -->
    <input type=" inputType" id=" labelFor" class="form-control">
</form>
