<div class="container m-5 p-5" >
  <h1 class="display-4"> Admin Login</h1>
  <form action="loginVarify" method="post">
    <div>
        <!-- <label for=" labelFor">Username</label> -->
        <input type="text" name="username" id=" username" placeholder="Username" class="m-1 form-control form-control-sm col-5 d-inline">
        
    </div>
    <div>
        <!-- <label for=" labelFor">Password </label> -->
        <input type="password" name="password" id=" password" placeholder="Password" class="m-1 form-control form-control-sm col-5 d-inline">
        
    </div>

      <input type="submit" class="btn btn-success btn-sm mt-1" value="Create Post" />
  </form>
</div>